---

name: Generate Manual

on:
  push:
    paths:
      - 'docs/src/manual.md'
  workflow_dispatch:

jobs:
  gen_man:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: generate
        run: |
          sudo apt-get update
          sudo apt-get install pandoc
          ./man/gen-man
      - name: push updated manual
        run: |
          git config --global user.name denv-docs-bot
          git config --global user.email denv-docs-bot@users.noreply.github.com
          git switch -c auto-man-update
          git add man
          git commit -m "Auto Man Page Update from ${{ github.event.head_commit.message }}" || exit 0
          gh pr create --fill
        env:
          GH_TOKEN: ${{ github.token }}
