---

name: Test Runners Dependabot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # every Sunday at midnight

jobs:
  check-on-runner-releases:
    permissions:
      pull-requests: write
      contents: write
      actions: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: fetch latest releases
        run: |
          ./ci/runner-dependabot --apply 
          git config --global user.name denv-runner-bot
          git config --global user.email denv-runner-bot@users.noreply.github.com
          git switch -c auto-runner-update
          git add ci/runners-to-test.json
          git commit --file title || exit 0
          git push -fu origin auto-runner-update
          gh pr create \
            --base main \
            --head auto-runner-update \
            --title "$(cat title)" \
            --body "Written by custom dependabot script that checks for new updates. PR now free to be modified/closed."
        env:
          GH_TOKEN: ${{ github.token }}
