---
name: ShellCheck and Test

on:
  push:
    paths:
      - 'denv'
      - '_denv_entrypoint'
      - 'install'
      - 'uninstall'
      - 'ci/test'
      - 'ci/check'
  workflow_dispatch:
  pull_request:

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        run: ./ci/check

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runner: [docker, podman, singularity, apptainer]
    steps:
      - uses: actions/checkout@v3
      - uses: eWaterCycle/setup-singularity@v7
        if: ${{matrix.runner == 'singularity'}}
        with:
          singularity-version: 3.8.3
      - uses: eWaterCycle/setup-apptainer@v2
        if: ${{matrix.runner == 'apptainer'}}
        with:
          apptainer-version: 1.1.9
      - name: Install
        run: sudo ./install
      - name: Test
        env:
          DENV_RUNNER: ${{matrix.runner}}
        run: ./ci/test
