---
name: ShellCheck and Test

on:
  push:
    paths:
      - 'denv'
      - '_denv_entrypoint'
      - 'install'
      - 'uninstall'
      - 'ci/test'
      - 'ci/check'
  workflow_dispatch:
  pull_request:

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        run: ./ci/check

  list-runners-to-test:
    name: List Runners to Test
    runs-on: ubuntu-latest
    outputs:
      runners: ${{steps.read_json.outputs.runners}}
    steps:
      - uses: actions/checkout@v4
      - id: read_json
        run: echo "runners=$(jq -c . .github/workflows/runners-to-test.json)" >> $GITHUB_OUTPUT

  test:
    name: Test
    needs: list-runners-to-test
    strategy:
      fail-fast: false
      matrix: ${{fromJSON(needs.list-runners-to-test.outputs.runners)}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install singularity
        if: ${{matrix.runner == 'singularity' || matrix.runner == 'apptainer' || matrix.runner == 'sylabs'}}
        run: ./ci/install-singularity-flavor ${{matrix.runner}} ${{matrix.version}}
      - name: enable debug mode if requested
        if: ${{runner.debug == '1'}}
        run: echo "DENV_DEBUG=1" >> "$GITHUB_ENV"
      - name: Install
        run: sudo ./install
      - name: deduce runner name
        run: |
          installed_runner=${{ matrix.runner }}
          if [ "${installed_runner}" = "sylabs" ]; then
            echo "DENV_RUNNER=singularity" >> "$GITHUB_ENV"
          else
            echo "DENV_RUNNER=${installed_runner}" >> "$GITHUB_ENV"
          fi
      - name: Test
        run: ./ci/test

#  test-macos:
#    name: Test on MacOS
#    runs-on: macos-latest
#    steps:
#      - uses: douglascamata/setup-docker-macos-action@v1-alpha
#      - uses: actions/checkout@v4
#      - name: enable debug mode if requested
#        if: ${{runner.debug == '1'}}
#        run: echo "DENV_DEBUG=1" >> "$GITHUB_ENV"
#      - name: Install
#        run: sudo ./install
#      - name: deduce runner name
#        run: echo "DENV_RUNNER=docker" >> "$GITHUB_ENV"
#      - name: Test
#        run: ./ci/test
